/* Hidden Options List (initial state) */
#optionsList {
    position: absolute;
    top: calc(20% - 30px); /* Position above the remote list */
    left: calc(27%); /* Same positioning as the remote list */
    opacity: 0;
    overflow: hidden;
    transform: translateX(200%); /* Slide out from right */
    max-height: 0; /* Start with height 0 */
    transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.5s ease;
    transform-origin: left bottom; /* Expand from bottom left */
}

/* Visible state (slid out) */
#optionsList.visible {
    transform: translateX(0); /* Slide to the left */
    opacity: 1;
    max-height: 200px; /* Maximum height for the options list */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Each options-item appears on rising */
.options-item {
    color: white;
    opacity: 0;
    transform: translateY(-10px); /* Position slightly above */
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: right;
}

/* Show individual options items progressively */
.options-item.visible {
    opacity: 1;
    transform: translateY(0); /* Bring the item into place */
}


.modal {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    color: black;    
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
}

.visible-modal {
    display: block;
    opacity: 1;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    color: black;
}
.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.options-item:hover
    background-color: rgba(255, 105, 180, 0.6); /* Pink hover effect */
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.6),
                0 0 15px rgba(0, 191, 255, 0.4),
                0 0 20px rgba(50, 255, 50, 0.4);   /* Glowing shadow effect */
}

